app-changepassword {
    display: block;
    width: 100%;
    position: relative;
}
.ticket-form-change-password {
    width: 300px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    text-align: center;
}