<form class="ticket-form-change-password" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-lock">
        <input type="password" nz-input formControlName="password_old" placeholder="Mật khẩu hiện tại">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('password_old').dirty && validateForm.get('password_old').errors">Vui
        lòng
        nhập mật khẩu hiện tại!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-lock">
        <input type="password" nz-input formControlName="password_new" placeholder="Mật khẩu mới">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('password_new').dirty && validateForm.get('password_new').errors">Vui
        lòng
        nhập mật khẩu mới!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button class="login-form-button" [nzType]="'primary'">Thay mật khẩu</button>
    </nz-form-control>
  </nz-form-item>
</form>