.login-form {
    width: 300px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}